#user_interaction {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

#max_value {
    background-color: #cdeb8b;
}

#reverse {
    background-color: #c3d9ff;
}

#large {
    background-color: #eeeeee;
}

#cookie {
    background-color: white;
}

#task {
    background-color: black;
    color: white;
}
