#userInteraction{
display:grid;
grid-template-columns: repeat(3, auto);
gap:10px;
}
#max_value{
background-color:#CDEB8B;
}
#reverse{
background-color:#C3D9FF;
}
#large{
background-color:#EEEEEE;
}
#cookie{
background-color:white;
}
#task{
background-color:black;
color:white;
}
