#mypage_main {
    display: flex;
    background-color: #EEEEEE;
}

#mypage_leftnav {
    margin: 10px;
    padding: 10px;
}

#mypage_leftnav a {
    /* margin-bottom: 50px; */
    text-decoration: none;
}

#mypage_center {
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
}

.content {
    font-style: italic;
}

#mypage_header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    background-color: #FFFF88;
    height: 50px;
    border-radius: 10px;
}

#mypage_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF88;
    border-radius: 10px;
    height: 50px;
}

.topics {
    color: red;
    text-decoration-line: underline;
}